<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DateServlet</servlet-name>
  	<display-name>DateServlet</display-name>
  	<description></description>
  	<servlet-class>pe.edu.ulima.servlets.DateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnviarServlet</servlet-name>
  	<display-name>EnviarServlet</display-name>
  	<description></description>
  	<servlet-class>pe.edu.ulima.servlets.EnviarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegContacto</servlet-name>
  	<display-name>RegContacto</display-name>
  	<description></description>
  	<servlet-class>pe.edu.ulima.servlets.RegContacto</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DateServlet</servlet-name>
  	<url-pattern>/date</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnviarServlet</servlet-name>
  	<url-pattern>/enviar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegContacto</servlet-name>
  	<url-pattern>/regcontacto</url-pattern>
  </servlet-mapping>
</web-app>
